---
---

$font-stack:	Ubuntu, Calibri, sans-serif;
$main-text-col: #fff;
$main-bg-col:	#270032;
$image-container-bg-col: #333;
$image-caption-col: #bbb;
$header-font:	Streamster;
$heading-col:	#fff;
$title-col:	#ccc;
$title-col-hi: #aaa;
$link-col:	#ff00cc;
$comment-col:	#ececec;
$code-col: #eee;
$highlight-col:	#00f0ff;

@font-face {
    font-family: Streamster;
    src: url(/css/fonts/Streamster.ttf);
}
@font-face {
    font-family: Digi;
    src: url(/css/fonts/DS-DIGI.TTF);
}
@font-face {
    font-family: Digibold;
    src: url(/css/fonts/DS-DIGIB.TTF);
}
.textbg {
	display: inline-block;
	//padding: 0.5em;
	//background-color: rgba(38,0,17,0.15);
}
.textshadow {
	text-shadow: 0 0 10px $link-col, 0 0 15px $link-col, 0 0 20px $link-col, 0 0 25px $link-col, 0 0 35px $link-col;
	text-decoration: none;
	transition: text-shadow 0.5s, color 0.5s;
}
.textshadow:hover {
	color: $link-col;
	text-shadow: none;
}

body {
	font-family: $font-stack;
	font-size: 1em;
	color: $main-text-col;
	background-color: $main-bg-col;
	background-image: url("{{ site.baseurl }}/images/vwave_footer.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	width: 100%;
}
body, html {
	margin: 0;
	padding: 0;
}
a {
	transition: text-shadow 0.5s, color 0.5s;
	text-decoration: none;
	color: $link-col;
	&:hover {
		color: $main-text-col;
		text-decoration: none;
		text-shadow: 0 0 10px $link-col, 0 0 15px $link-col, 0 0 20px $link-col, 0 0 25px $link-col, 0 0 35px $link-col;
	}
	&.featureimg:hover {
		text-decoration: none;
	}
	&#earlier, &#later {
		font-family: Digi;
		font-size: 2em;
		//display: block;
	}
	&#earlier {
		float: right;
	}
	&#later {
		//float: left;
	}
	&.noline:hover {
		text-decoration: none;
	}
}
.cf {
	height: 0;
	clear: both;
}
h1, h2 {
	font-family: $header-font;
	color: $heading-col;
	margin: 0;
	text-align: left;
}
h1 {
	font-size: 6em;
}
h2 {
	font-size: 4em;
	#text-shadow: 0 0 10px $highlight-col, 0 0 15px $highlight-col, 0 0 20px $highlight-col, 0 0 25px $highlight-col, 0 0 35px $highlight-col;
	#transition: text-shadow 0.5s, color 0.5s;
	text-decoration: none;
	color: $highlight-col;
}
h3 {
	//font-family: $font-stack;
	margin: 0;
	font-family: Digibold;
	font-size: 2.5em;
	letter-spacing: 3px;
	color: $highlight-col;
}

#bio, #sharelinks{
	hr {
		margin-top: 5em;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
}
#sharelinks {
	margin-bottom: 2em;
}
#comments, .caption {
	font-size: 0.9em;
}
.excerpt, #postcontent, article {
	p, ul {
		font-size: 1.2em;
		line-height: 1.7em;
	}
	ul {
		list-style: none;
	}
	li::before {
		content: "▸ ";
		color: $highlight-col;
	}
	ul ul, ul blockquote {
		font-size: 1em;
	}
}
header {
	width: 100%;
	height: 1200px;
	overflow: hidden;
	a:hover {
		text-decoration: none;
	}
	#logo {
		display: block;
		width: 35%;
		max-width: 1000px;
		margin: 0 auto 0 auto;
		text-align: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	#scalecontainer {
		position: absolute;
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		height: 1200px;
		z-index: -1;
		background-image: url("{{ site.baseurl }}/images/vwave_header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: transform 10s ease-in-out;
	}
	nav {
		line-height: 0;
		width: 60%;
		max-width: 1200px;
		text-align: right;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 1em 0 0 0;
			li {
				display: inline;
				padding: 0;
				img {
					padding: 5px;
					margin-left: 0.1em;
					background-color: transparent;
					width: 50px;
					height: 50px;
					transition: .2s;
				}
				img:hover {
					background-color: $link-col;
					box-shadow: 0 0 10px $link-col, 0 0 15px $link-col, 0 0 25px $link-col, 0 0 35px $link-col, 0 0 55px $link-col;
				}
			}
		}
	}
}
#postcontainer {
	width: 60%;
	margin: -350px auto 5em auto;
	max-width: 1200px;
}
section#pagelist {
	ul#pages {
		list-style: none;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		li {
			margin: 0 0 0 0;
		}
	}
}
.byline {
	margin: 0.4em 0 3em 0;
	font-size: 0.8em;
}
div.excerpt, div#postcontent {
	text-align: justify;
	text-justify: inter-word;
	img {
		display: block;
		margin: 2em auto;
	}
}
div.excerpt {
	margin-top: 1em;
}

article {
	#padding-bottom: 3em;
	padding: 5em 7em;
	margin-bottom: 10em;
	box-shadow: 0 0 10px $highlight-col, 0 0 15px $highlight-col, 0 0 25px $highlight-col, 0 0 35px $highlight-col, 0 0 55px $highlight-col, 0 0 10px $highlight-col inset, 0 0 15px $highlight-col inset, 0 0 25px $highlight-col inset, 0 0 35px $highlight-col inset, 0 0 55px $highlight-col inset;
	border: 5px solid white;
	transition: box-shadow 0.5s, border-color 0.5s;
	&:hover {
		box-shadow: none;
		border-color: $highlight-col;
	}
	.readmore {
		font-family: Digi;
		font-size: 1.5em;
		text-align: right;
	}
	&#welcome {
		box-shadow: 0 0 10px $link-col, 0 0 15px $link-col, 0 0 25px $link-col, 0 0 35px $link-col, 0 0 55px $link-col, 0 0 10px $link-col inset, 0 0 15px $link-col inset, 0 0 25px $link-col inset, 0 0 35px $link-col inset, 0 0 55px $link-col inset;
		&:hover {
			box-shadow: none;
			border-color: $link-col;
		}
		h3 {
			transition: text-shadow 0.5s, color 0.5s;
			color: $main-text-col; 
			text-shadow: 0 0 10px $highlight-col, 0 0 15px $highlight-col, 0 0 20px $highlight-col, 0 0 25px $highlight-col, 0 0 35px $highlight-col;
			&:hover {
				text-shadow: none;
				color: $highlight-col;
			}
		}
	}
}
div#postcontent {
	margin: 2em 0 5em 0;
	.screenshot {
		background-color: $image-container-bg-col;
		margin: 2em 0 2em 0;
		img {
			margin: 0 auto;
			width: 100%;
		}
		.caption {
			color: $image-caption-col;
			font-size: 0.8em;
			padding: 0.7em;
		}
	}
	h2, h3, h4 {
		margin-top: 1em;
	}
	code {
		margin: 0;
		padding: 0.1em;
	}
	pre {
		code {
			margin-left: 2em;
			display: block;
		}
	}
}
div#comments {
	margin-top: 2em;
}

#back, #forth {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	text-align: center;
	height: 50%;
	background-color: #hightlight-col;
	width: 100%;
	text-decoration: none;
	font-size: 10em;
	color: #fff;
	div.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: all .4s ease-in-out;
		transform: scale(1,1);
		opacity: 0.8;
		z-index: -1;
	}
	&:hover > div.bg {
		transform: scale(1.1,1.1);
		opacity: 1;
	}
}
#back:hover, #forth:hover {
	//opacity: 1;
}
.backforthtitle {
	position: absolute;
	text-align: right;
	max-width: 80%;
	top: 0.3em;
	right: 0.3em;
	font-size: 0.1em;
	font-weight: 900;
	padding: 0.7em;
	background-color: rgba(0,0,0,0.5)
}
.backforthlabel {
	font-family: Symbola, $font-stack;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	text-shadow: 0 0 50px #333;
}
hr {
	margin: 2em auto;
	width: 100%;
	background-color: #fff;
	border-width: 0;
	height: 5px;
	&#pag {
		margin: 3em 0;
	}
	box-shadow: 0 0 20px $highlight-col, 0 0 30px $highlight-col, 0 0 50px $highlight-col, 0 0 70px $highlight-col, 0 0 110px $highlight-col;
}
blockquote {
	border-left: 5px solid $highlight-col;
	margin-left: 3em;
	padding-left: 1em;
}
code {
	padding: 1em;
	display: inline-block;
	margin-left: 5em;
	background-color: $code-col;
}
.attribution {
	margin-right: 40px;
	font-size: 0.8em;
	font-style: oblique;
	&:before {
		content: "— ";
	}
}
#smallprint {
	font-size: 0.7em;
	color: $main-text-col;
}
.ytvid, .ptvid {
	margin: 2em auto;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
ul#share {
	padding: 0;
	li {
		display: inline;
	}
	a.social {
		display: inline-block;
		background-size: contain;
		width: 3em;
		height: 3em;
		opacity: 0.8;
		border-radius: 0;
		margin-right: 0.5em;
		transition: .2s ease-in-out;
		&#tw {
			background-color: #55acee;
			border: 0.5em solid #55acee;
			background-image: url('/images/twitter_icon.png');
		}
		&#fb {
			background-color: #3b5998;
			border: 0.5em solid #3b5998;
			background-image: url('/images/facebook_icon.png');
		}
		&#go {
			background-color: #dd4b39;
			border: 0.5em solid #dd4b39;
			background-image: url('/images/gplus_icon.png');
		}
		&:hover {
			opacity: 1;
			border-radius: 50%;
		}
	}
}
.stallbop {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
}
article {
	audio {
		width: 100%;
	}
}
@media screen and (max-width: 2000px) {
	header {
		#logo {
			width: 45%
		}
	}
}
@media screen and (max-width: 1920px) {
	header {
		#logo {
			#logotext {
				font-size: 4em;
				margin-top: -70px
			}
		}
	}
}
@media screen and (max-width: 1550px) {
	header {
		#logo {
			width: 70%
			#logotext {
				font-size: 3em;
				margin-top: -50px
			}
		}
	}
}
@media screen and (max-width: 1100px) {
	#postcontainer {
		width: 95%;
		margin-bottom: 1em;
		margin: -150px auto 5em auto;
	}
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 2em;
	}
	header {
		nav {
			width: 95%;
			ul {
				li {
					img {
						width: 70px;
						height: 70px;
					}
				}
			}
		}

		height: 800px;
		#logo {
			width: 80%;
			margin: 10px auto 0 auto;
			#logotext {
				margin-top: -70px;
			}
		}
	}
	#scalecontainer {
		height: 500px;
	}
	blockquote, code {
		margin-left: 0;	
		margin-right: 0;
	}
	article {
		padding: 5em 3em;
	}
	#postcontainer {
		margin-top: 0px;
	}
}
@media screen and (max-width: 650px) {
	#postcontainer {
		margin-top: 0px;
	}
	header {
		#logo {
			#logotext {
				font-size: 2em;
				margin-top: -50px;
			}
		}
	}
}

.jiggle {
	display: inline-block;
	font-weight: bold;
    -webkit-animation: jiggle 0.1s infinite;
    -moz-animation-duration: 0.1s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
}
@keyframes jiggle {
  10%, 90% {
    transform: translate3d(-1px, 1px, 0);
  }

  20%, 80% {
    transform: translate3d(1px, -1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 1px, 0);
  }

  40%, 60% {
    transform: translate3d(1px, -1px, 0);
  }
}

