<nav>
	<ul>
		{% for link in site.links %}
			<li>
				{% if link[0] == "Mastodon" %}
				<a rel="me" href="{{ link[1].url }}"><img src="{{ site.baseurl }}{{ site.imagedir }}{{ link[1].image }}" title="{{ link[0] }}" /></a>
				{% else %}
				<a href="{{ link[1].url }}"><img src="{{ site.baseurl }}{{ site.imagedir }}{{ link[1].image }}" title="{{ link[0] }}" /></a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>
